Options +FollowSymlinks
Options -Indexes
RewriteEngine on

#DirectoryIndex page_index.php

RewriteRule ^search/s_(.*)/c_(.*)/([0-9]{1,})$  page_search.php?EX=searchLink&style=$1&city=$2&id=$3 [L]
RewriteRule ^search/c_(.*)/([0-9]{1,})$  page_search.php?EX=searchLink&city=$1&id=$2 [L]
RewriteRule ^search/s_(.*)/([0-9]{1,})$  page_search.php?EX=searchLink&style=$1&id=$2 [L]
RewriteRule ^search/s_(.*)/c_(.*)/p_(.*)$  page_search.php?EX=searchLink&style=$1&city=$2&page=$3 [L]
RewriteRule ^search/s_(.*)/c_(.*)$  page_search.php?EX=searchLink&style=$1&city=$2 [L]
RewriteRule ^search/s_(.*)$  page_search.php?EX=searchLink&style=$1 [L]
RewriteRule ^search/c_(.*)$  page_search.php?EX=searchLink&city=$1 [L]
RewriteRule ^property/.*/([0-9]{1,})$  page_search.php?EX=searchLink&id=$1 [L]
RewriteRule ^search$  page_search.php [L]


RewriteRule ^logout  page_login.php?EX=logout [L]

RewriteRule ^login  page_login.php [L]

RewriteRule ^vision  page_vision.php [L]
RewriteRule ^test  page_test.php [L]

RewriteRule ^relocation  page_relocation.php [L]
RewriteRule ^careers  page_careers.php [L]
RewriteRule ^sell-lease  page_sell-lease.php [L]

RewriteRule ^contact  page_contact.php [L]
RewriteRule ^home  page_index.php [L]

RewriteRule ^dashboard$  page_dashboard.php [L]
RewriteRule ^dashboard/recently_viewed$  page_dashboard.php?EX=showAllRecentlyViewed [L]
RewriteRule ^dashboard/favorites$  page_dashboard.php?EX=showAllFavoritesProperties [L]
RewriteRule ^dashboard/test$  page_dashboard.php?EX=test [L]
RewriteRule ^dashboard/admin/visits$  page_dashboard.php?EX=adminVisits [L]
RewriteRule ^dashboard/admin/listMember$  page_dashboard.php?EX=showListMember [L]
RewriteRule ^dashboard/admin/visits/([0-9]{1,})$  page_dashboard.php?EX=adminVisits&page=$1 [L]
RewriteRule ^dashboard/profile/([0-9]{1,})$  page_dashboard.php?EX=showProfile&member=$1 [L]
RewriteRule ^dashboard/profile$  page_dashboard.php?EX=showProfile [L]
RewriteRule ^dashboard/profile/edit$  page_dashboard.php?EX=editProfile [L]
RewriteRule ^dashboard/mail$  page_dashboard.php?EX=showConversation [L]
RewriteRule ^dashboard/mail/(.*)$  page_dashboard.php?EX=showMessageConversation&id_conversation=$1\#last_msg [L]